{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <p>Created by {{blogdetailsId.author}}</p>
                </div>

                <div class="card-title">
                    <h5>{{blogdetailsId.title}}</h5>
                </div>

                <div class="card-body">
                    <p>{{blogdetailsId.content}}</p>
                </div>


            </div>

            <div class="">
                <h2>Comments ....</h2>
                {% if user.is_authenticated %}
                <a href="{% url 'add_comment' blogdetailsId.id %}">Add Comment</a> {% else %}
                <a href="{% url 'login' %}">Add Comment</a> {% endif %}
                <div class="card">
                    {% if not blogdetailsId.comments.all %} {% else %} {% for comment in blogdetailsId.comments.all %}
                    <div class="card-body">
                        {{ comment.comment_content}}
                    </div>
                    <div class="card-title">
                        <strong>{{ comment.comment_author}}</strong>
                    </div>

                    <div class="card-body">
                        {{ comment.date_posted}}
                    </div>
                    <hr> {% endfor %} {% endif %}

                </div>

            </div>
        </div>

    </div>

</div>
{% endblock content%}