 {% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 myUserLoginText bg-secondary">
            <h1>Login</h1>

        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 myUserLoginForm bg-secondary">

            {% for message in messages %}

            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a> {{ message }}

            </div>
            {% endfor %}

            <form method="POST" action="" class="form-group">
                {% csrf_token %} {{form|crispy}}

                <button type="submit" class="btn btn-primary">Login</button>


            </form>

        </div>

    </div>

</div>

{% endblock %}